<template>
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <h1>Movies</h1>
          <hr><br><br>
          <alert :message="message" v-if="showMessage"></alert>
          <button type="button" class="btn btn-success btn-sm" v-b-modal.movie-modal>Add</button>
          <br><br>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Note</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(movie, index) in movies" :key="index">
                <td>{{ movie.title }}</td>
                <td>{{ movie.rate }}</td>
                <td>
                  <div class="btn-group" role="group">
                    <button
                      type="button"
                      class="btn btn-warning btn-sm"
                      v-b-modal.movie-update-modal
                      @click="editMovie(movie)">
                      Update
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      @click="onDeleteMovie(movie)">
                      Delete
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <b-modal ref="addMovieModal"
              id="movie-modal"
              title="Add a new movie"
              hide-footer>
        <b-form @submit="onSubmit" @reset="onReset" class="w-100">
        <b-form-group id="form-title-group"
                      label="Title:"
                      label-for="form-title-input">
            <b-form-input id="form-title-input"
                          type="text"
                          v-model="addMovieForm.title"
                          required
                          placeholder="Enter title">
            </b-form-input>
          </b-form-group>
          <b-form-group id="form-rate-group"
                        label="Note:"
                        label-for="form-rate-input">
              <b-form-input id="form-rate-input"
                            type="Number"
                            v-model="addMovieForm.rate"
                            required
                            placeholder="Enter rate">
              </b-form-input>
            </b-form-group>
          <b-button-group>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-button-group>
        </b-form>
      </b-modal>
      <b-modal ref="editMovieModal"
            id="movie-update-modal"
            title="Update"
            hide-footer>
      <b-form @submit="onSubmitUpdate" @reset="onResetUpdate" class="w-100">
      <b-form-group id="form-title-edit-group"
                    label="Title:"
                    label-for="form-title-edit-input">
          <b-form-input id="form-title-edit-input"
                        type="text"
                        v-model="editForm.title"
                        required
                        placeholder="Enter title">
          </b-form-input>
        </b-form-group>
        <b-form-group id="form-rate-edit-group"
                      label="Rate:"
                      label-for="form-rate-edit-input">
            <b-form-input id="form-rate-edit-input"
                          type="text"
                          v-model="editForm.rate"
                          required
                          placeholder="Enter rate">
            </b-form-input>
          </b-form-group>
        <b-button-group>
          <b-button type="submit" variant="primary">Update</b-button>
          <b-button type="reset" variant="danger">Cancel</b-button>
        </b-button-group>
      </b-form>
    </b-modal>
    </div>
  </template>
<script>
import axios from 'axios';
import Alert from './Alert.vue';

export default {
  data() {
    return {
      movies: [],
      addMovieForm: {
        title: '',
        rate: '',
      },
      message: '',
      showMessage: false,
      editForm: {
        id: '',
        title: '',
        rate: '',
      },
    };
  },
  components: {
    alert: Alert,
  },
  methods: {
    getMovies() {
      const host = window.location.hostname;
      const path = `http://${host}:8080/movies`;
      axios.get(path)
        .then((res) => {
          this.movies = res.data;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
        });
    },
    addMovie(payload) {
      const host = window.location.hostname;
      const path = `http://${host}:8080/movies`;
      axios.post(path, payload)
        .then(() => {
          this.getMovies();
          this.message = 'Movie added!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.log(error);
          this.getMovies();
        });
    },
    initForm() {
      this.addMovieForm.title = '';
      this.addMovieForm.rate = '';
      this.editForm.id = '';
      this.editForm.title = '';
      this.editForm.rate = '';
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.$refs.addMovieModal.hide();
      const payload = {
        title: this.addMovieForm.title,
        rate: this.addMovieForm.rate,
      };
      this.addMovie(payload);
      this.initForm();
    },
    onReset(evt) {
      evt.preventDefault();
      this.$refs.addMovieModal.hide();
      this.initForm();
    },
    editMovie(movie) {
      this.editForm = movie;
    },
    onSubmitUpdate(evt) {
      evt.preventDefault();
      this.$refs.editMovieModal.hide();
      const payload = {
        title: this.editForm.title,
        rate: this.editForm.rate,
      };
      this.updateMovie(payload, this.editForm.id);
    },
    updateMovie(payload, movieID) {
      console.log('test put');
      console.log(movieID);
      const host = window.location.hostname;
      const path = `http://${host}:8080/movies/${movieID}`;
      console.log(path);
      axios.put(path, payload)
        .then(() => {
          this.getMovies();
          this.message = 'Movie updated!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getMovies();
        });
    },
    onResetUpdate(evt) {
      evt.preventDefault();
      this.$refs.editMovieModal.hide();
      this.initForm();
      this.getMovies(); // why?
    },
    removeMovie(movieID) {
      const host = window.location.hostname;
      const path = `http://${host}:8080/movies/${movieID}`;
      axios.delete(path)
        .then(() => {
          this.getMovies();
          this.message = 'Movie removed!';
          this.showMessage = true;
        })
        .catch((error) => {
          // eslint-disable-next-line
          console.error(error);
          this.getMovies();
        });
    },
    onDeleteMovie(movie) {
      this.removeMovie(movie.id);
    },
  },
  created() {
    this.getMovies();
  },
};
</script>
